# user data / saves / config
userdata/
bin/stderr.txt
bin/stdout.txt

# copyrighted original game assets
runtime/UFO/
runtime/TFTD/

# build artifacts
build/
*.o
*.obj
CMakeCache.txt
CMakeFiles/

# validation dumps
*.dump
hd_flipdump*.png
openxcom.log
